{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "entry",
        "corejs": 3,
        "targets": {
          "chrome": 60
        }
      }
    ],
    "@babel/preset-react",
    "mobx"
  ],
  "plugins": [
    "styled-jsx/babel",
    "@babel/plugin-transform-arrow-functions",
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-transform-classes",
    "@babel/plugin-transform-runtime"
  ]
}
